.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"],
body {
}

h1, h2, h3, h4, h5 {
	font-weight: inherit;
}

body {
  background-color: black;
  color : white;
}


.ipad-area {
	/* iPad в портретной ориентации */
	width  : 768px;
	height : 928px;

	margin: auto;
	position: absolute;
	top: 50%; left: 50%;
	-webkit-transform: translate(-50%,-50%);
	  -ms-transform: translate(-50%,-50%);
	      transform: translate(-50%,-50%);
}

