
/* Unicum Light */
@font-face {
    font-family: 'Unicum';
    src: url('UnicumCondLightC.woff') format('woff');
    font-weight : normal;
    font-style  : normal;
}

/* Unicum Light */
@font-face {
    font-family: 'UnicumThin';
    src: url('UnicumCondThinC.woff') format('woff');
    font-weight : normal;
    font-style  : normal;
}

